body {
    margin: 0px;
    background-color: rgba(171, 211, 245, 0.39);
    font-family: 'Edu NSW ACT Foundation', cursive;
    
}

.button-add {
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 8px;
    padding: 7px 14px;
    background-color: white;
    color: black;
    border: 2px solid #f08080;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}


.navbar-color{
    background-color: #ebe487;
    border-color: #ebe487;
}

.img-contactos{
    border-radius: 100px;
}

.img-productos{
    border-radius: 20px;
}

a{
    transition-duration: 0.9s;
}

.button-add:hover{
    background-color: lightcoral;
    color: white;
}


.page-nav{
    border: 1px solid lightcoral;
    background-color: lightcoral;
    position: relative;

}


.page-nav h1{
    margin: 20px;


}

.page-content{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


.product-container {
    border-radius: 20px;
    margin-bottom:20px ;
    margin-left: 20px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


.product-container img{
    width: 250px;
}


.product-container h3{
    margin-bottom: 7px;
    margin-left: 14px;
}

.button  {
    
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.button-checkout {

    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 8px;
    padding: 7px 14px;
    background-color: white;
    color: black;
    border: 2px solid lightsalmon;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;

}

.button-checkout:hover{
    background-color: lightcoral;
    color: white;
}

.page-nav h1{
    text-align: center;

}

.target-personales{
    text-align: center;
    border-radius: 20px;
    padding: 7px 14px;
    background-color: white;
    color: black;
    border: 2px solid #f08080;
    transition-duration: 0.4s;
    right: 15px;
}

.roce-target{
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 40px;
    padding: 7px 14px;
    background-color: white;
    color: black;
    border: 2px solid #f08080;
    transition-duration: 0.9s;
    right: 15px;
    
}

.roce-target:hover{
    background-color: lightcoral;
    color: white;
}

footer{
    background-color: black;
    text-align: center;
}

.instagram {
    background-color: aliceblue;
}

.contact-content{
    margin-top: 50px;
    margin-bottom: 50px;
}

.icons-content {
    margin-top: 30px;
}

.footer-quienes-somos{
    margin-top: 250px;
    
}

.modal-body{
    background-color:  rgba(171, 211, 245, 0.39);
}

.modal-footer{
    background-color: #000000;
}

.modal-content{
    border: 2px solid #000000;
    
    border-top: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.datos-personales{
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 40px;
    padding: 7px 50px;
    background-color: rgba(245, 240, 171, 0.534);
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.6s;
    right: 15px;
}
.datos-personales:hover{
    background-color: #ebe487;
    color: rgb(0, 0, 0);
}

.contacto-form{
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 40px;
    padding: 7px 50px;
    background-color: rgba(245, 240, 171, 0.534);
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.6s;
    right: 15px;
    margin-top: 15px;
}
.contacto-form:hover{
    background-color: #ebe487;
    color: rgb(0, 0, 0);
}

.datos-pago{
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 40px;
    padding: 7px 50px;
    background-color: rgba(71, 71, 71, 0.219);
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.6s;
    right: 15px;
    margin-top: 15px;
}
.datos-pago:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.Direccion-form{
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 40px;
    padding: 7px 50px;
    background-color: rgba(245, 240, 171, 0.534);
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.6s;
    right: 15px;
    margin-top: 15px;
}
.Direccion-form:hover{
    background-color: #ebe487;
    color: rgb(0, 0, 0);
}

.head-Mpago-form{
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 15px;
    padding: 7px 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid  rgba(5, 5, 5, 0.39);
    transition-duration: 0.9s;
    right: 15px;
    margin-top: 15px;
}

.Mpago-content{
    border: none;
    font-size: 13px;
    text-align: center;
    border-radius: 15px;
    padding: 7px 50px;
    background-color: rgba(71, 71, 71, 0.219);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: rgb(0, 0, 0);
   
    transition-duration: 0.9s;
    right: 15px;
    margin-top: 15px;
}



.list-content{
    margin-top: 15px;
}

.btn_ver_carrito{
    margin-top: 15px;
    border-radius: 8px;
    padding: 7px 14px;
    background-color: white;
    color: black;
    border: 2px solid #aaadaf;
    transition-duration: 0.4s;
}

.btn_ver_carrito:hover{
    background-color: rgb(49, 48, 48);
    color: white;
}

.tabla-carrito{
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(245, 240, 171, 0.534);
}

#mensaje{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(245, 240, 171, 0.534);
    margin-top: 15px;
}

.carousel{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 100px;
}
#carouselExampleCaptions{
    border-radius: 100px;
}

.carousel-item{
    border-radius: 100px;
}
.img-carrusel{
    border-radius: 100px;
}

.info{
    
    display: flex;
    justify-content: center;
    
}

.clima-content{
    border-radius: 20px;
    margin-bottom:20px ;
    margin-left: 20px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(171, 211, 245, 0.39);
}

hr {
    border-width: 3px;
    width: 30%;
}

.linea{
    
    display: flex;
    justify-content: center;
    
}


#hr2{
    border-width: 3px;
    width: 20%;
}

.linea2{
    
    display: flex;
    justify-content: center;
    
}

